<div class="container">
  <mat-card class="card-container">
    <mat-card-content class="column-container">
      <h2>Reset Password</h2>
      <form (ngSubmit)="onSubmit()" class="column-container">
        <mat-form-field color="accent" class="password">
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [formControl]="passwordFormControl"
          />
          <mat-hint
            >Password must have at least 6 characters and contain at least one
            number, one lowercase and one uppercase letter.</mat-hint
          >
          <mat-error
            *ngIf="
              passwordFormControl.invalid &&
              (passwordFormControl.dirty || passwordFormControl.touched)
            "
          >
            <span *ngIf="passwordFormControl.hasError('required')"
              >Password is required.
            </span>
            <span *ngIf="passwordFormControl.hasError('passwordLength')"
              >Password must have at least 6 characters.</span
            >
            <span *ngIf="passwordFormControl.hasError('passwordRequirements')"
              >Password must contain at least one number, one lowercase and one
              uppercase letter.</span
            >
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="accent" type="submit">Reset</button>
        </mat-card-actions>
      </form>
      <p>Problems? <a routerLink="/forgot-password">Send recovery email</a></p>
    </mat-card-content>
  </mat-card>
</div>
