.column-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-container {
  margin: 20px;
}

button {
  margin: 10px;
}

body {
  background-color: lightpink;
}

h2 {
  color: #e91e63;
  text-align: center;
}

mat-card-actions {
  justify-content: space-around;
}

.modal {
  background-color: lightpink;
}

.star-rating {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.star-icon {
  cursor: pointer;
  color: #ccc;
}

.star-icon.filled {
  color: #e91e63;
}

.star-icon:active {
  color: #e91e63;
}

.star-icon:nth-child(1):hover ~ .star-icon {
  color: #ccc;
}

.star-icon:nth-child(2):hover ~ .star-icon {
  color: #ccc;
}

.star-icon:nth-child(3):hover ~ .star-icon {
  color: #ccc;
}

.star-icon:nth-child(4):hover ~ .star-icon {
  color: #ccc;
}

.clear-icon {
  cursor: pointer;
  color: grey;
}
