.container {
  display: flex;
  justify-content: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  margin: 20px;
  width: 500px;
}

h2 {
  color: #e91e63;
}

mat-form-field {
  margin-bottom: 20px;
}

button {
  width: 100px;
  margin-bottom: 40px;
}

p {
  color: grey;
}

a {
  text-decoration: none;
  color: #e91e63;
}
