<div class="container">
  <mat-card class="card-container">
    <mat-card-content class="column-container">
      <h2>Tetяis - Game Over</h2>
      <div>
        <h3>Top 10 Scores:</h3>
        <div class="table-container">
          <table>
            <tbody>
              <tr *ngFor="let score of topScores; let i = index">
                <td class="ranking-number">{{ i + 1 }}</td>
                <td class="user-name">{{ score.userName }}</td>
                <td class="score">{{ score.score }}</td>
                <td class="date">{{ score.date | date : "d/M/yy" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <mat-form-field color="accent">
          <mat-label>Enter your name</mat-label>
          <input
            matInput
            [(ngModel)]="userName"
            required
            maxlength="10"
            autocomplete="name"
          />
          <mat-error *ngIf="userName.length > 10">
            Maximum 10 characters
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="onPlay()">
            START GAME
          </button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</div>
