.container {
  display: flex;
  justify-content: center;
  background-color: lightpink;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  margin: 20px;
  width: 500px;
}

h2 {
  color: #e91e63;
  font-family: monospace;
  font-variant-numeric: slashed-zero;
}

h3 {
  color: grey;
  font-family: monospace;
  font-variant-numeric: slashed-zero;
  margin-left: 15px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50px;
}

.table-container {
  max-height: 170px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: monospace;
  font-variant-numeric: slashed-zero;
}

th,
td {
  padding: 8px;
  text-align: left;
  color: grey;
}

td.ranking-number {
  text-align: right;
}

td.user-name {
  text-align: left;
}

td.score {
  color: #e91e63;
  font-size: 20px;
  text-align: right;
}

td.date {
  color: grey;
  font-size: 8px;
  text-align: right;
}

mat-form-field {
  margin-top: 30px;
  margin-bottom: 10px;
}

mat-card-actions {
  justify-content: space-around;
}

button {
  width: 100px;
  padding: 30px;
}
