.container {
  display: flex;
  justify-content: center;
}

h1 {
  color: #e91e63;
  font-size: 100px;
  line-height: 120px;
  text-align: right;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-bottom: 180px;
}

p {
  color: grey;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e91e63;
}

.machango {
  text-align: center;
}
