<p>
  <mat-toolbar color="accent" class="toolbar">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>things-n-dates</span> -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>sort</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-form-field color="accent" class="year" subscriptSizing="dynamic">
      <mat-label for="year">Year</mat-label>
      <mat-select
        name="year"
        [(value)]="selectedYear"
        (selectionChange)="onYearSelect($event.value)"
      >
        <mat-option *ngFor="let year of years" [value]="year">{{
          year
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</p>
