<p>
  <mat-toolbar color="accent" class="toolbar">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>things-n-dates</span> -->
    <span class="example-spacer"></span>
    <mat-form-field
      color="accent"
      class="search-field"
      subscriptSizing="dynamic"
    >
      <mat-label for="year">Search</mat-label>
      <input
        matInput
        placeholder="ex. book"
        (input)="applySearchFilter($any($event.target).value)"
      />
    </mat-form-field>
    <button mat-icon-button [matMenuTriggerFor]="sort" class="example-icon">
      <mat-icon>sort</mat-icon>
    </button>
    <mat-menu #sort="matMenu">
      <button
        mat-menu-item
        (click)="sortByNameAscClicked()"
        [class.selected-filter]="isFilterSelected('nameAsc')"
      >
        <mat-icon color="accent">sort_by_alpha</mat-icon>
        <mat-icon color="accent">arrow_downward</mat-icon>
        <span>Sort A - Z</span>
      </button>
      <button
        mat-menu-item
        (click)="sortByNameDescClicked()"
        [class.selected-filter]="isFilterSelected('nameDesc')"
      >
        <mat-icon color="accent">sort_by_alpha</mat-icon>
        <mat-icon color="accent">arrow_upward</mat-icon>
        <span>Sort Z - A</span>
      </button>
      <button
        mat-menu-item
        (click)="sortByDateAscClicked()"
        [class.selected-filter]="isFilterSelected('dateAsc')"
      >
        <mat-icon color="accent">date_range</mat-icon>
        <mat-icon color="accent">arrow_downward</mat-icon>
        <span>Date ascending</span>
      </button>
      <button
        mat-menu-item
        (click)="sortByDateDescClicked()"
        [class.selected-filter]="isFilterSelected('dateDesc')"
      >
        <mat-icon color="accent">date_range</mat-icon>
        <mat-icon color="accent">arrow_upward</mat-icon>
        <span>Date descending</span>
      </button>
    </mat-menu>
    <button mat-icon-button class="example-icon">
      <mat-icon>favorite_outline</mat-icon>
    </button>
    <mat-form-field color="accent" class="year" subscriptSizing="dynamic">
      <mat-label for="year">Year</mat-label>
      <mat-select
        name="year"
        [(value)]="selectedYear"
        (selectionChange)="onYearSelect($event.value)"
      >
        <mat-option *ngFor="let year of years" [value]="year">{{
          year
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</p>
