.toolbar {
  height: 60px;
}

.example-spacer {
  flex: 1 1 auto;
}

.year {
  width: 30%;
  max-width: 200px;
  margin-top: 4px;
}

.search-field {
  width: 33%;
  max-width: 200px;
  margin-top: 4px;
}
