<h2>Welcome to Tet&#x1D19;is, {{ userName }}!!</h2>
<div class="tetris-container">
  <div class="score">Score: {{ score }} | High Score: {{ highScore }}</div>
  <canvas #board width="300" height="540"></canvas>

  <div class="controls">
    <div class="direction">
      <div>
        <button mat-fab color="accent" (click)="moveLeft()" class="left">
          <mat-icon>arrow_circle_left</mat-icon>
        </button>
        <button mat-fab color="accent" (click)="moveRight()">
          <mat-icon>arrow_circle_right</mat-icon>
        </button>
      </div>
      <div>
        <button mat-fab color="accent" (click)="moveDown()">
          <mat-icon>arrow_circle_down</mat-icon>
        </button>
      </div>
    </div>
    <div>
      <button mat-fab color="accent" (click)="rotate()">
        <mat-icon>rotate_right</mat-icon>
      </button>
    </div>
  </div>
</div>
